$primary-color: #000000;
$secondary-color: #b31312;
$accent-color: #dc5f00;

$font-base: "Rubik Wet Paint", system-ui;
$font-p: "Roboto", sans-serif;
$font-headline: "Creepster", system-ui;

$font-size-p: 1.3rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
